.navbar{
    font-family: 'Times New Roman';
    box-shadow: 1px 1px 5px black;
    padding: 0px;
}
 
.navbar .navbar-brand{
    font-size: 21px;
    color: white;

}
.navbar .navbar-brand:hover{
    font-size: 21px;
    color: rgb(210, 166, 108);
}


.navbar-inverse .navbar-nav>li>a 
{
    color: white;
    font-size: 20px;
}
.navbar-inverse .navbar-nav>li>a:hover{
    font-size: 21px;
    color: rgb(210, 166, 108);
}

h1,h2,h3{
    text-align: center;
}
h4{
    font-size: 21px;
    color: #f1f1f1;
}


.color{
    background-color: #154660;
    border-color: #154660;
}

.dropbtn {
    margin-left: 25px;
    background-color: #154660;
    color: white;
    font-family: 'Times New Roman';
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    font-family: 'Times New Roman';
    position: absolute;
    background-color: #f1f1f1;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(232, 228, 228);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #154660;}

 
  .fpage{
    margin:auto;
  }